@using CheckMate.UI.Web.Controllers
@using CheckMate.UI.Web.Models
@model UserHomeViewModel

@{
    ViewBag.Title = "User Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Home</h2>

This will be the user Homepage