@model object

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>CheckMate</h2>

This will be the start page
@Html.RouteLink("Login",new {controller = "User", action = "Login"})